{% extends "base.html" %}

{% block content %}

<div>
    <div class = "p-3 mb-2 bg-danger text-white">
        <div class="media">
            <a href="/texttopic"><h3>Text Analysis</h3></a>
            <img src="https://d1vcqlflm6aitx.cloudfront.net/images/800x100p/1557364192-work_while_you_study_banner.webp" class="img-fluid" alt="Responsive image">
            <div class="media-body">
              <h4 class="mt-0">Online learning </h4>
              <p>Online learning is education that takes place over the Internet. It is often referred to as “e- learning” among other terms. However, online learning is just one type of “distance learning” - the umbrella term for any learning that takes place across distance and not in a traditional classroom.</p>
              <h4 class = "mt-0">Uses of this website</h4>
              <p> When we are learning online different language , To make the study easy this website is used </p>
              <p> When we are travelling to different countries , We may not able to understand the language . So This website helps to convert any language into english.</p>
            </div>
        </div>
    </div>
    <div class = "p-3 mb-2 bg-primary text-white">
        <div class="media">
            <div class="media-body">
              <h4 class="mt-0">Methods used to make learning easy</h4>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h4 class="mt-0">Text Summarization</h4>
                    <p>This model condenses a text article into a summary of a few sentences. It takes as input any English text document and returns a summary of the input text.</p>
                    <p>This model can be used in a range of settings including media monitoring, newsletter summary generation, book summarization, and automated content creation.</p>
                  </div>
                  <div class="col-sm">
                    <h4 class="mt-0">Text Text Topic Modeling</h4>
                    <p>This model takes unstructured text as input and returns the top ten topics that are found within the text using the Latent Dirichlet Allocation (LDA) algorithm.</p>
                  </div>
                  <div class="col-sm">
                    <h4 class="mt-0">Named Entity Recognition</h4>
                    <p>Named entity recognition, also known as entity extraction, detects and classifies the entities in a piece of English text into four categories: persons, locations, organizations, and miscellaneous.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div

{% endblock %}